@{
    ViewData["Title"] = "Login";
}
@{
    foreach(var error in @ViewBag.errors){
        <p style="color:red">@error.Errors[0].ErrorMessage</p>
    }
}
@Html.Partial("LoginPartial")


@Html.Partial("RegisterPartial")